@viewport {
    width: device-width;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    font-weight: normal;
    overflow: hidden;
    font-family: "Segoe UI", "Segoe", "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif;
}
.background {
    grid-row: 1/3;
}
.page button {
    background-color: rgb(212, 39, 129);
    border: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
    padding: 7px 22px;
    margin-top: 20px;
}
.page button:hover {
    background-color: rgb(244, 87, 168);
}
.purple-container {
    max-width: 100%;
    height: 100%;
}
.fontys-logo {
    width: 225px;
    height: auto;
    margin-bottom: 100px;
}
.main-background {
    width: 100%;
    height: 100%;
}
/*Set up for responsive look*/
@media only screen and (max-width: 2560px) {
    .authenticate-container {
        padding-top: 100px;
        align-items: left;
        text-align: left;
        padding-left: 45px;
    }
    .background img {
        width: 100%;
    }
    .page {
        max-width: 100%;
        display: grid;
        grid-template-columns: 7fr 3.35fr;
        grid-template-rows: 660px 100px;
    }
}
@media only screen and (max-width: 1610px) {
    .background img {
        width: min-content;
    }
}
@media only screen and (max-width: 830px) {
    .page {
        max-width: 100%;
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-template-rows: 660px 100px;
    }
    .background img {
        width: min-content;
    }
}
@media only screen and (max-width: 695px) {
    .page {
        max-width: 100%;
        display: grid;
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 660px 100px;
    }
    .authenticate-container {
        padding-left: 0px;
        text-align: center;
    }
    .background img {
        width: min-content;
    }
}
@media only screen and (max-width: 503px) {
    .page {
        max-width: 100%;
        display: grid;
        grid-template-columns: 0fr 4fr;
        grid-template-rows: 660px 100px;
    }
    .authenticate-container {
        padding-top: 100px;
        align-items: center;
        text-align: center;
        padding-left: 0px;
    }
}

/*Authentitaced page*/

.authLabel{
    font-size: large;
    color: #6a994e;
    font-weight: 600;
    font-style: italic;    
}